@{
    Layout = Layout = "~/Views/Shared/_WMLayout.cshtml";
}
<body id=myBody>
    <label class="wfHeader">My Workflow</label>
    <img class="chevronLogo2" src="../../Resources/Images/LogoChevron.png" />
    <div id="contentWork">
        @(Html.Kendo().Grid<WorkFlowAppsChevron.Models.Workflow_Table>()
                                                    .Name("grid")
                                                    .Columns(columns =>
                                                    {
                                                        columns.Bound(p => p.workflow_name).Width(100).Title("Workflow Name");
                                                        columns.Bound(p => p.workflow_subject).Width(100).Title("Subject");
                                                        columns.Command(command => command.Custom("View").Click("showDetails")).Width(20);
                                                        columns.Command(command => command.Custom("Report").Click("showReport")).Width(20);
                                                    })
                                                    .Selectable()
                                                    .Pageable()
                                                    .Sortable()
                                                    .Scrollable()
                                                    .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                                                    .HtmlAttributes(new
                                                    {
                                                        style = "height:515px; width:100%;  margin-left:4px; font-size:14px;"
                                                    })
                                                    .DataSource(dataSource => dataSource
                                                        .Ajax()
                                                        .Model(model => model.Id(p => p.workflow_name))
                                                        .PageSize(20)
                                                        .ServerOperation(true)
                                                        .Read(read => read.Action("ImplementWorkflow_Data", "WorkflowManager"))
                                                        )
        )
        <script type="text/javascript">
            function showDetails() {
                var grid = $("#grid").data("kendoGrid");
                var selectedRow = grid.select();
                var selectedDataItem = grid.dataItem(selectedRow).workflow_name;
                var contentUrl = '@Url.Action("WMWorkflow", "WorkflowManager")?workflowName=' + selectedDataItem;
                window.location = contentUrl;
            }

            function showReport() {
                var grid = $("#grid").data("kendoGrid");
                var selectedRow = grid.select();
                var selectedDataItem = grid.dataItem(selectedRow).workflow_name;
                var contentUrl = '@Url.Action("WMReport", "WorkflowManager")?workflowName=' + selectedDataItem;
                window.location = contentUrl;
            }
        </script>
    </div>
</body>