
@{
    Layout = null;
    ViewBag.Ash = "asik";
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HalamanTest</title>
   
</head>
<body>
    <h2>
        @ViewBag.Message
    </h2>
    <h2>@ViewBag.Ash</h2><div>
    </div>
</body>
</html>
